/* Global styles */
body {
    background-color: #2F4F4F; /* Dark background color */
    color: #fff; /* Light text color */
    font-family: Arial, sans-serif; /* Default font family */
}

.wordItem.highlight::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 4px; /* Width of the blue line */
    background-color: #87CEEB; /* The blue line color */
}

/* Style for each word item */
.wordItem {
    display: flex; /* Use flexbox */
    align-items: center; /* Align items vertically */
    justify-content: space-between; /* Space between items */
    background-color: #2F4F4F; /* Dark background color */
    margin-bottom: 5px; /* Bottom margin */
    padding: 10px; /* Padding */
    border-radius: 5px; /* Border radius */
    border: 1px solid #fff; /* White border */
    border-left: 5px solid #fff; /* White left border */
    position: relative; /* Allows positioning of the pseudo-element */
}

.index {
    display: inline-block; /* Display as inline block */
    width: 10px; /* Width */
    text-align: left; /* Left alignment */
    margin-right: 15px; /* Right margin */
}

.wordItem .index {
    position: relative;
    padding-left: 8px; /* Adjust padding if needed for spacing */
}

/* Style for buttons container */
#buttonsContainer {
    display: inline-block; /* Use flexbox */
    margin-right: 10px; /* Right margin */
}

/* Style for selected count label */
#selectedCountLabel {
    display: inline-block; /* Display as inline block */
    color: #fff; /* Light text color */
}

/* Style for word list */
#wordList {
    list-style-type: none; /* Remove default list style */
    padding: 0; /* Remove padding */
    width: 40%; /* Set width */
}


/* Style for word text */
.word {
    cursor: pointer; /* Pointer cursor */
    text-align: left; /* Left alignment */
    flex-grow: 1; /* Grow to fill available space */
    color: #fff; /* Light text color */
}

/* Style for buttons */
.buttons button {
    padding: 5px 10px; /* Padding */
    margin-left: 5px; /* Left margin */
    border: none; /* No border */
    background-color: gray; /* Button background color */
    cursor: pointer; /* Pointer cursor */
    font-size: 16px; /* Font size */
}

/* Style for check button */
.checkButton {
    color: white; /* Text color */
}

/* Style for close button */
.closeButton {
    color: white; /* Text color */
}


/* Added styles for checkButton and closeButton */
.checkButton, .closeButton {
    width: 30px; /* Width */
    height: 30px; /* Height */
    border-radius: 50%; /* Border radius */
    border: none; /* No border */
    cursor: pointer; /* Pointer cursor */
    background-color: grey; /* Button background color */
}

/* Added styles for clicked buttons */
.checkButton.clicked {
    background-color: green; /* Green background color */
}

.closeButton.clicked {
    background-color: red; /* Red background color */
}

.translation {
    display: none; /* Hide by default */
    text-align: left !important; /* Left alignment */
}
