<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>English Words</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<h1>English Words</h1>
<form id="word_form" action="/" method="post">
    <input type="hidden" name="action" id="action" value="">
    <label for="file_select">词库选择:</label>
    <select id="file_select" name="file_name">
        <option value="高考词汇.txt">高考词汇</option>
        <option value="雅思基础词汇.txt">雅思基础词汇</option>
        <option value="法语单词.txt">法语单词</option>
        <option value="你好法语.txt">你好法语</option>
        <option value="法语妈妈.txt">法语妈妈</option>
        <!--        <option value="雅思全部(卢).txt">雅思全部</option>-->
        <!--        <option value="中考考纲词组.txt">中考考纲词组</option>-->
        <!--        <option value="中考词汇.txt">中考词汇</option>-->
    </select>
    <input type="hidden" name="selected_file" id="selected_file" value="">
    <button type="submit" onclick="document.getElementById('action').value = 'check';">刷新</button>
    <div id="buttonsContainer">
        <button id="markKnownButton" type="submit" onclick="document.getElementById('action').value = 'mark_known';">
            ✓=会
        </button>
        <button id="selectAllUnknownButton" type="button">✗=不会</button>
        <button id="startLearningButton" type="submit" onclick="document.getElementById('action').value = 'learn';">
            完成
        </button>
        <div id="selectedCountLabel">已选择0个单词</div>
        <div id="learnedCountLabel">已学会0个单词</div>
    </div>
</form>

<ul id="wordList">
    {% for word in words %}
        <li class="wordItem">
            <div class="index">{{ word.索引 }}</div>
            <div class="word">{{ word.单词 }}</div>
            <div class="translation">{{ word.释意 }}</div>
            <div class="buttons">
                <button class="translateButton">中</button>
                <button class="checkButton">✓</button>
                <button class="closeButton">×</button>
            </div>
        </li>
    {% endfor %}
</ul>
<audio id="audioPlayer" src="" preload="auto"></audio>
<script>
    // Function to update the value of the hidden input field with the selected option
    function updateSelectedFile() {
        var selectedOption = document.getElementById('file_select').value;
        document.getElementById('selected_file').value = selectedOption;
    }

    // Add event listener to the change event of the file_select element
    document.getElementById('file_select').addEventListener('change', function () {
        updateSelectedFile(); // Update selected file when the selection changes
    });
    // Trigger the change event of the file_select element after the page is loaded
    document.addEventListener('DOMContentLoaded', function () {
        updateSelectedFile(); // Update selected file when the page is loaded
    });
    // Add event listener to the form's submit event
    document.getElementById('word_form').addEventListener('submit', function () {
        updateSelectedFile(); // Update selected file just before the form is submitted
    });

    function playAudio(audioSrc) {
        var audioPlayer = document.getElementById('audioPlayer');
        const audio = new Audio(audioSrc);
        audio.onerror = () => {
            const msg = `Sound of '${audio.src}' failed to load!`;
            console.error(msg);
        };
        console.log(audio.src);
        audio.play();
    }

    // Function to handle the submission for both start learning and resist forgetting actions
    function handleSubmission(event, actionValue) {
        event.preventDefault(); // Prevent the default form submission behavior
        var selectedWords = [];
        // Loop through all word items
        document.querySelectorAll('.wordItem').forEach(wordItem => {
            // Check if the checkButton is selected
            if (wordItem.querySelector('.checkButton').classList.contains('clicked')) {
                // selectedCheckWords.push(wordItem.querySelector('.word').textContent.trim());
                // Add a hidden input field with the selected word value to the form
                var hiddenInput = document.createElement('input');
                hiddenInput.type = 'hidden';
                hiddenInput.name = 'check_word'; // This will be used to retrieve the values on the server side
                hiddenInput.value = wordItem.querySelector('.word').textContent.trim();
                document.getElementById('word_form').appendChild(hiddenInput);
            }
            // Check if the closeButton is selected
            if (wordItem.querySelector('.closeButton').classList.contains('clicked')) {
                // selectedCloseWords.push(wordItem.querySelector('.word').textContent.trim());
                // Add a hidden input field with the selected word value to the form
                var index = wordItem.querySelector('.index').textContent.trim();
                var word = wordItem.querySelector('.word').textContent.trim();
                var translation = wordItem.querySelector('.translation').textContent.trim();
                selectedWords.push({'索引': index, '单词': word, '释意': translation});
            }
        });
        // Add the selected words as a hidden input field to the form
        var hiddenInput = document.createElement('input');
        hiddenInput.type = 'hidden';
        hiddenInput.name = 'selected_words'; // This will be used to retrieve the values on the server side
        hiddenInput.value = JSON.stringify(selectedWords);
        document.getElementById('word_form').appendChild(hiddenInput);
        // Set the action value
        document.getElementById('action').value = actionValue;
        // Submit the form
        document.getElementById('word_form').submit();
    }

    // Add event listener for startLearningButton click
    document.getElementById('startLearningButton').addEventListener('click', function (event) {
        handleSubmission(event, 'learn');
    });
    document.getElementById('markKnownButton').addEventListener('click', function (event) {
        handleSubmission(event, 'mark_known');
    });

    // // Add event listener for resistForgettingButton click
    // document.getElementById('resistForgettingButton').addEventListener('click', function (event) {
    //     handleSubmission(event, 'resist_forgetting');
    // });


    // // Function to automatically click all closeButton elements
    // function autoSelect(event) {
    //     event.preventDefault(); // Prevent the default form submission behavior
    //     document.querySelectorAll('.checkButton').forEach(closeButton => {
    //         closeButton.click();
    //     });
    // }

    // Add event listener to the "自动选择" button
    // document.getElementById('autoSelectButton').addEventListener('click', autoSelect);


    document.addEventListener('DOMContentLoaded', function () {
        let lastClickedItem = null; // Variable to keep track of the last clicked wordItem
        let selectedCount = 0; // Variable to keep track of the selected count
        let learnedCount = 0; // Variable to keep track of the learned count
        let currentHighlightIndex = 0; // Tracks the current index in the highlight sequence
        const items = document.querySelectorAll('.wordItem');
        let indicesToHighlight = [];
        generateIndexToHighlight();

        function generateIndexToHighlight() {
            const groupSize = 5;
            const totalItems = Math.floor(items.length / groupSize) * groupSize;
            const basePattern = [1, 2, 3, 2, 1, 2, 3, 4, 3, 2, 1, 2, 3, 4, 5, 4, 3, 4, 5, 2, 1, 2, 1, 2, 3, 4, 5, 4, 3, 2, 1];
            const loop = totalItems / groupSize;
            for (let i = 0; i < loop; i++) {
                for (let j = 0; j < basePattern.length; j++) {
                    indicesToHighlight.push(basePattern[j] + i * groupSize);
                }
            }
        }

        function highlightCurrentIndex() {
            // Remove highlight from all items
            items.forEach(item => item.classList.remove('highlight'));

            while (currentHighlightIndex < indicesToHighlight.length) {
                const index = indicesToHighlight[currentHighlightIndex] - 1; // Convert 1-based index to 0-based
                const item = items[index];
                const checkButton = item.querySelector('.checkButton');
                // Debugging statements to verify classList status
                console.log(`Checking item ${index}:`);
                console.log(`Item classList contains 'clicked': ${item.classList.contains('clicked')}`);
                console.log(`CheckButton classList contains 'clicked': ${checkButton.classList.contains('clicked')}`);

                if (!checkButton.classList.contains('clicked') && !item.classList.contains('clicked')) {
                    // If the checkButton is not clicked, highlight the item
                    if (item) {
                        item.classList.add('highlight');
                    }
                    break; // Exit the loop once an unchecked item is found and highlighted
                } else {
                    // Move to the next index if the current item's checkButton is clicked
                    currentHighlightIndex++;
                }
            }
        }


        function updateClickedItem(item) {
            // Remove border from all items
            items.forEach(i => i.classList.remove('clicked'));

            // Add border to the clicked item
            item.classList.add('clicked');
        }

        document.getElementById('selectAllUnknownButton').addEventListener('click', function () {
            document.querySelectorAll('.wordItem').forEach(item => {
                const closeButton = item.querySelector('.closeButton');
                const checkButton = item.querySelector('.checkButton');

                // Only mark as ✗ if not already clicked
                if (!closeButton.classList.contains('clicked')) {
                    closeButton.classList.add('clicked');
                    selectedCount++;

                    // If it was previously marked as ✓, unmark it and update learnedCount
                    if (checkButton.classList.contains('clicked')) {
                        checkButton.classList.remove('clicked');
                        learnedCount--;
                    }
                }
            });

            updateLabel(); // Update the counts on the UI
        });

        document.querySelectorAll('.wordItem').forEach((item, index) => {
            // Add event listener to the closeButton
            const closeButton = item.querySelector('.closeButton');
            const checkButton = item.querySelector('.checkButton');
            closeButton.addEventListener('click', event => {
                // Toggle the "clicked" class on closeButton
                closeButton.classList.toggle('clicked');
                // Check if checkButton was previously clicked
                if (closeButton.classList.contains('clicked') && checkButton.classList.contains('clicked')) {
                    // If the checkButton was clicked, decrement learnedCount
                    learnedCount--;
                    checkButton.classList.remove('clicked'); // Remove the "clicked" class from checkButton
                }
                // Increment or decrement selectedCount based on button click
                if (closeButton.classList.contains('clicked')) {
                    selectedCount++;
                } else {
                    selectedCount--;
                }
                updateLabel();
            });
            checkButton.addEventListener('click', event => {
                // Toggle the "clicked" class on closeButton
                checkButton.classList.toggle('clicked');
                // If closeButton is already clicked, unselect it and decrement selectedCount
                if (closeButton.classList.contains('clicked') && checkButton.classList.contains('clicked')) {
                    closeButton.classList.remove('clicked');
                    selectedCount--;
                }
                if (checkButton.classList.contains('clicked')) {
                    learnedCount++;
                } else {
                    learnedCount--;
                }
                updateLabel();
            });
            item.addEventListener('click', event => {
                if (!event.target.matches('.closeButton, .checkButton, .translateButton')) {
                    var word = item.querySelector('.word').textContent.trim();
                    var audioSrc = "{{ url_for('static', filename='sounds') }}/" + word + ".mp3";

                    if (item === lastClickedItem) {
                        // Toggle visibility of translation
                        var translation = item.querySelector('.translation');
                        translation.style.display = translation.style.display === 'none' ? 'block' : 'none';
                        playAudio(audioSrc);
                    } else {
                        // Play audio for the first click
                        playAudio(audioSrc);
                    }

                    // Hide translation of the last clicked item if it's different from the current one
                    if (lastClickedItem && lastClickedItem !== item) {
                        var lastTranslation = lastClickedItem.querySelector('.translation');
                        lastTranslation.style.display = 'none';
                    }

                    // Update the last clicked item
                    lastClickedItem = item;
                    updateClickedItem(item);
                    // Check if the current item is the highlighted one
                    const expectedIndex = indicesToHighlight[currentHighlightIndex] - 1;
                    if (index === expectedIndex) {
                        // Move to the next index in the sequence
                        currentHighlightIndex++;
                        if (currentHighlightIndex >= indicesToHighlight.length) {
                            currentHighlightIndex = 0; // Loop back to the start
                        }
                        highlightCurrentIndex(); // Highlight the next item
                    }
                } else if (event.target.matches('.translateButton')) {
                    // Show the translation directly when the translate button is clicked
                    var translation = item.querySelector('.translation');
                    translation.style.display = translation.style.display === 'none' ? 'block' : 'none';
                }
            });
        });

        // Update label function
        function updateLabel() {
            const selectedCountLabel = document.getElementById('selectedCountLabel');
            const learnedCountLabel = document.getElementById('learnedCountLabel')
            selectedCountLabel.textContent = `已选择${selectedCount}个单词`;
            learnedCountLabel.textContent = `已学会${learnedCount}个单词`;

        }
    });

    document.getElementById('word_form').addEventListener('submit', function (event) {
        var selectElement = document.getElementById('file_select');
        var selectedValue = selectElement.options[selectElement.selectedIndex].value;
        sessionStorage.setItem('selectedFile', selectedValue);
    });

    // Restore selected option after page reload
    window.onload = function () {
        var selectElement = document.getElementById('file_select');
        var selectedFile = sessionStorage.getItem('selectedFile');
        if (selectedFile) {
            selectElement.value = selectedFile;
        }
    };

</script>
</body>
</html>
