<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>English Words</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<h1>English Words</h1>
<form id="word_form" action="/" method="post">
    <input type="hidden" name="action" id="action" value="">
    <label for="file_select">词库选择:</label>
    <select id="file_select" name="file_name">
        <option value="中考词汇1.txt">中考词汇1</option>
        <option value="中考词汇2.txt">中考词汇2</option>
        <option value="中考词汇3.txt">中考词汇3</option>
        <option value="中考考纲词组.txt">中考考纲词组</option>
    </select>
    <input type="hidden" name="selected_file" id="selected_file" value="">
    <button type="submit" onclick="document.getElementById('action').value = 'check';">检测</button>
    <button id="autoSelectButton">全选</button>
    <button id="startLearningButton" type="submit" onclick="document.getElementById('action').value = 'learn';">开始
    </button>
    <button type="submit" id="resistForgettingButton"
            onclick="document.getElementById('action').value = 'resist_forgetting';">创建
    </button>
</form>

<ul id="wordList">
    {% for word in words %}
    <li class="wordItem">
        <div class="index">{{ word.索引 }}</div>
        <div class="word">{{ word.单词 }}</div>
        <div class="translation">{{ word.释意 }}</div>
        <div class="buttons">
            <button class="checkButton">✓</button>
            <button class="closeButton">×</button>
        </div>
    </li>
    {% endfor %}
</ul>
<audio id="audioPlayer" src="" preload="auto"></audio>
<div id="floatingBarPlaceholder"></div>
<script>
    // Function to update the value of the hidden input field with the selected option
    function updateSelectedFile() {
        var selectedOption = document.getElementById('file_select').value;
        document.getElementById('selected_file').value = selectedOption;
    }

    // Add event listener to the change event of the file_select element
    document.getElementById('file_select').addEventListener('change', function () {
        updateSelectedFile(); // Update selected file when the selection changes
    });
    // Trigger the change event of the file_select element after the page is loaded
    document.addEventListener('DOMContentLoaded', function () {
        updateSelectedFile(); // Update selected file when the page is loaded
    });
    // Add event listener to the form's submit event
    document.getElementById('word_form').addEventListener('submit', function () {
        updateSelectedFile(); // Update selected file just before the form is submitted
    });

    function playAudio(audioSrc) {
        var audioPlayer = document.getElementById('audioPlayer');
        const audio = new Audio(audioSrc);
        audio.onerror = () => {
            const msg = `Sound of '${audio.src}' failed to load!`;
            console.error(msg);
        };
        console.log(audio.src);
        audio.play();
    }

    // Function to handle the submission for both start learning and resist forgetting actions
    function handleSubmission(event, actionValue) {
        event.preventDefault(); // Prevent the default form submission behavior
        var selectedWords = [];
        // Loop through all word items
        document.querySelectorAll('.wordItem').forEach(wordItem => {
            // Check if the checkButton is selected
            if (wordItem.querySelector('.checkButton').classList.contains('clicked')) {
                // selectedCheckWords.push(wordItem.querySelector('.word').textContent.trim());
                // Add a hidden input field with the selected word value to the form
                var hiddenInput = document.createElement('input');
                hiddenInput.type = 'hidden';
                hiddenInput.name = 'check_word'; // This will be used to retrieve the values on the server side
                hiddenInput.value = wordItem.querySelector('.word').textContent.trim();
                document.getElementById('word_form').appendChild(hiddenInput);
            }
            // Check if the closeButton is selected
            if (wordItem.querySelector('.closeButton').classList.contains('clicked')) {
                // selectedCloseWords.push(wordItem.querySelector('.word').textContent.trim());
                // Add a hidden input field with the selected word value to the form
                var index = wordItem.querySelector('.index').textContent.trim();
                var word = wordItem.querySelector('.word').textContent.trim();
                var translation = wordItem.querySelector('.translation').textContent.trim();
                selectedWords.push({'索引': index, '单词': word, '释意': translation});
            }
        });
        // Add the selected words as a hidden input field to the form
        var hiddenInput = document.createElement('input');
        hiddenInput.type = 'hidden';
        hiddenInput.name = 'selected_words'; // This will be used to retrieve the values on the server side
        hiddenInput.value = JSON.stringify(selectedWords);
        document.getElementById('word_form').appendChild(hiddenInput);
        // Set the action value
        document.getElementById('action').value = actionValue;
        // Submit the form
        document.getElementById('word_form').submit();
    }

    // Add event listener for startLearningButton click
    document.getElementById('startLearningButton').addEventListener('click', function (event) {
        handleSubmission(event, 'learn');
    });

    // Add event listener for resistForgettingButton click
    document.getElementById('resistForgettingButton').addEventListener('click', function (event) {
        handleSubmission(event, 'resist_forgetting');
    });


    // Function to automatically click all closeButton elements
    function autoSelect(event) {
        event.preventDefault(); // Prevent the default form submission behavior
        document.querySelectorAll('.closeButton').forEach(closeButton => {
            closeButton.click();
        });
    }

    // Add event listener to the "自动选择" button
    document.getElementById('autoSelectButton').addEventListener('click', autoSelect);
    document.querySelectorAll('.wordItem').forEach(wordItem => {
        // Get the checkButton and closeButton within the wordItem
        const checkButton = wordItem.querySelector('.checkButton');
        const closeButton = wordItem.querySelector('.closeButton');

        // Add event listener to the checkButton
        checkButton.addEventListener('click', event => {
            // Toggle the "clicked" class on checkButton
            checkButton.classList.toggle('clicked');
            // Remove the "clicked" class from closeButton
            closeButton.classList.remove('clicked');
        });

        // Add event listener to the closeButton
        closeButton.addEventListener('click', event => {
            // Toggle the "clicked" class on closeButton
            closeButton.classList.toggle('clicked');
            // Remove the "clicked" class from checkButton
            checkButton.classList.remove('clicked');
        });
    });


    document.addEventListener('DOMContentLoaded', function () {
        let lastClickedItem = null; // Variable to keep track of the last clicked wordItem

        document.querySelectorAll('.wordItem').forEach(item => {
            item.addEventListener('click', event => {
                // Check if the clicked element is not the closeButton
                if (!event.target.classList.contains('closeButton')) {
                    var word = item.querySelector('.word').textContent.trim().toLowerCase();
                    var audioSrc = "{{ url_for('static', filename='sounds/') }}" + word + ".mp3";

                    if (item === lastClickedItem) {
                        // Toggle visibility of translation
                        var translation = item.querySelector('.translation');
                        translation.style.display = translation.style.display === 'none' ? 'block' : 'none';
                    } else {
                        // Play audio for the first click
                        playAudio(audioSrc);
                    }

                    // Hide translation of the last clicked item if it's different from the current one
                    if (lastClickedItem && lastClickedItem !== item) {
                        var lastTranslation = lastClickedItem.querySelector('.translation');
                        lastTranslation.style.display = 'none';
                    }

                    // Update the last clicked item
                    lastClickedItem = item;
                }
            });
        });
    });

    document.getElementById('word_form').addEventListener('submit', function (event) {
        var selectElement = document.getElementById('file_select');
        var selectedValue = selectElement.options[selectElement.selectedIndex].value;
        sessionStorage.setItem('selectedFile', selectedValue);
    });

    // Restore selected option after page reload
    window.onload = function () {
        var selectElement = document.getElementById('file_select');
        var selectedFile = sessionStorage.getItem('selectedFile');
        if (selectedFile) {
            selectElement.value = selectedFile;
        }
    };
</script>
</body>
</html>
